/* Reset styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Navigation styles */
nav {
  width: 100%;
  background-color: lightblue;
  height: 48px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  background-color: lightpink;
  width: 320px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  padding: 12px;
  gap: 16px;
}

.nav-menu--open {
  transform: translateX(0%);
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu button {
  align-self: flex-end;
  width: 25px;
  border-radius: 50%;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.nav-menu button:hover {
  color: rgba(255, 0, 0, 0.71);
}

.nav-menu__item {
  cursor: pointer;
  padding: 12px;
  background-color: peachpuff;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Submenu styles */
.submenu {
  display: none; /* Hidden by default */
  margin-left: 20px; /* Indentation for submenus */
  margin-top: -8px; /* Adjust spacing between parent and submenu */
  padding-left: 0;
}

.submenu.visible {
  display: block; /* Show submenu when visible class is added */
}

.submenu-item {
  padding: 8px;
  background-color: lightyellow;
  border-radius: 6px;
  margin-bottom: 8px; /* Spacing between submenu items */
}

/* Open button styles */
.open-button {
  padding-top: 0px;
  text-align: center;
  width: 25px;
  height: 23px;
  background-color: transparent;
  cursor: pointer;
}

.open-button:hover {
  color: rgba(255, 0, 0, 0.71);
}
